.weather {
  &-results {
    width: 35%;
    margin: 0px auto;
    position: relative;
    padding-top: 95px;
  }

  &-box {
    margin-bottom: 25px;
    padding-top: 15px;
    
    img {
      display: block;
      width: 200px;
      height: 200px;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 420px) {
  .weather-results {
    width: 100%;
    padding: 0px 20px;
    padding-top: 65px;
  }

  .weather-box img {
    width: 150px;
    height: 150px;
    margin-top: 25px;
  }
}
