.search-container {
  position: relative;
  width: 60%;

  @media only screen and (max-width: 420px) {
    width: 70%;
  }
}

.underly {
  position: fixed;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0%;
}

.search-box {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid $palewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search-bar {
  width: 80%;
  padding: 10px 15px;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  font-size: 20px;
  color: $white;
}

.search-bar::placeholder {
  color: $white;
  opacity: 0.8;
}

.autosuggestion {
  width: 100%;
  margin: 0 auto;
  background-color: $white;
  max-height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0px 10px 10px $transparentblack;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.autosuggestion-item {
  padding: 5px 20px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 420px) {
  .underly {
    left: 0;
    top: 0;
  }

  .search-box {
    width: 100%;
  }

  .autosuggestion {
    width: 100%;
  }
}
