.formContainer {
  width: 50%;
  margin: 0 auto;
  margin-top: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 420px) {
  .formContainer {
    width: 85%;
  }
}

.formContainer svg {
  width: 150px;
  height: 150px;
  fill: yellow;
  margin: 0 auto;
  margin-bottom: 25px;
}

.formMenu {
  margin-top: 25px;
  margin-bottom: 50px;
}

button {
  color: black;
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  outline: none;
}

.formMenu button:hover,
.formMenuActive {
  cursor: pointer;
  color: #fff;
  fill: #fff;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.1);
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

@media (max-width: 420px) {
  .inputsContainer {
    flex-direction: column;
  }
}

.inputsContainer input {
  width: 45%;
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  outline: none;
  border: none;
  margin-bottom: 0px;
}

@media (max-width: 420px) {
  .inputsContainer input {
    width: 100%;
    margin-bottom: 10px;
  }
}

.submitButton {
  background-color: rgba(255, 255, 255, 0.9);
  outline: none;
  border: none;
  padding: 10px 15px;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  transform: scale(1);
  transition: all ease-in-out 0.1s;
}

.submitButton:hover {
  cursor: pointer;
  background-color: #fff;
  transform: scale(1.1);
}
