.form-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    width: 150px;
    height: 150px;
    fill: $yellow;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}

@media (max-width: 420px) {
  .form-container {
    width: 85%;
  }
}

.form-menu {
  margin-top: 25px;
  margin-bottom: 50px;
}

.form-menu button:hover,
.form-menu-active {
  cursor: pointer;
  color: $white;
  fill: $white;
  text-decoration: underline;
  background-color: $transparentgray;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

@media (max-width: 420px) {
  .inputs-container {
    flex-direction: column;
  }
}

.inputs-container input {
  width: 45%;
  padding: 10px 15px;
  background-color: $palewhite;
  outline: $palewhite;
  border: none;
  margin-bottom: 0px;
}

@media (max-width: 420px) {
  .inputs-container input {
    width: 100%;
    margin-bottom: 10px;
  }
}