.btn {
  padding: 10px 20px;
  outline: $white;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
  
  &-primary {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    
    &:hover {
      color: $deepblue;
      background-color: $white;
    }
  }
  
  &-secondary {
    border: 1px solid $white;
    background-color: $white;
    color: $deepblue;
    
    &:hover {
      border: 1px solid $white;
      background-color: transparent;
      color: $white;
    }
  }

  &-small {
    padding: 5px 10px;
    font-size: 18px;
  }
}

.go-follow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 95px;

  p {
    margin-bottom: 20px;
    text-align: center;
  }
}