.center {
  display: block;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around
}

.justify-content-center {
  justify-content: center
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-align-end {
  text-align: end;
}

.text-center {
  text-align: center;
}
