/* FONTS */
$ubuntu-light: "Ubuntu light", sans-serif;
$ubuntu-regular: "Ubuntu regular", sans-serif;
$ubuntu-medium: "Ubuntu medium", sans-serif;
$ubuntu-bold: "Ubuntu bold", sans-serif;

/* COLORS */
$white: #ffffff;
$dirtywhite: #fefefe;
$blue: #1890ff;
$navyblue: #114678;
$deepblue: #294773;

$lightblack: #010101;
$darkgray: #222222;
$black: #000000;

$yellow: #ffff00;

/* RGBA COLORS */
$palewhite: rgba(255, 255, 255, 0.9);
$transparentgray: rgba(255, 255, 255, 0.1);
$transparentblack: rgba(0, 0, 0, 0.6);


$normal: 400;
$semibold: 500;
$bold: 700;
$bolder: 900;