/* FONTS */
$ubuntu-light: "Ubuntu light", sans-serif;
$ubuntu-regular: "Ubuntu regular", sans-serif;
$ubuntu-medium: "Ubuntu medium", sans-serif;
$ubuntu-bold: "Ubuntu bold", sans-serif;

/* COLORS */
$white: #ffffff;
$dirtywhite: #fefefe;
$blue: #1890ff;
$navyblue: #114678;
$deepblue: #294773;
$lightblack: #010101;

$normal: 400;
$semibold: 500;
$bold: 700;
$bolder: 900;