.locationBox {
  margin: 50px auto;
  font-size: 30px;
}

.weatherBox {
  width: 40%;
  margin: 30px auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);

  display: grid;
  grid-template-columns: 2fr 3fr;
}

.weatherBox img {
  display: flex;
  justify-self: center;
  align-self: center;
}

.weatherBoxInfo .temp {
  color: #fff;
  font-size: 100px;
  font-weight: 900;
}

.weatherBoxInfo .realFeel {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-top: -15px;
  margin-bottom: 10px;
}

.weatherBoxInfo .weather {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

@media only screen and (max-width: 360px) {
  .weatherBox {
    width: 90%;
  }

  .weatherBoxInfo .temp {
    font-size: 50px;
    font-weight: 700;
  }

  .weatherBoxInfo .realFeel {
    font-size: 18px;
    font-weight: 500;
    margin-top: -5px;
    margin-bottom: 10px;
  }

  .weatherBoxInfo .weather {
    font-size: 30px;
    font-weight: 500;
  }
}