@import "./styles/styles.scss";

.main-container {
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(37, 42, 62),
    rgb(41, 71, 115)
  );
  padding: 35px;
}

@media only screen and (max-width: 420px) {
  .main-container {
    padding: 0px;
    padding-bottom: 25px;
  }
}
